
body {
  width: calc(100vw - 8px);
  min-height: calc(100vh - 8px);
  margin: 2px;
  border: 2px dashed white;
}

.settings {
  border: 2px solid white;
  font-size: 20px;
  margin: 5px;
}

.settings th {
  text-align: left;
}

.settings input {
  max-width: 80px;
  text-align: center;
}

.settings select {
  width: 80px;
  text-align-last: center;
}

#files {
  margin: 5px;
}

#dropZoneDesc {
  display: block;
  margin: 5px;
  font-size: 32px;
  color: white;
}

