
body {
  background-color: silver;
  width: calc(100vw - 8px);
  min-height: calc(100vh - 8px);
  margin: 2px;
  border: 2px dashed white;
}

table, th, td {
  border: 1px solid green;
  border-collapse: collapse;
}

hr {
  border: 1px dashed white;
}

p {
  margin: 2px;
}

#selectedFiles {
  margin: 5px;
}

#dropZoneDesc {
  margin: 5px;
}

#menu {
  position: fixed;
  top: 10px;
  right: 10px;
}

.value {
  background-color:lightgrey;
}

ul {
  list-style-type: square;
}

.caret {
  user-select: none;
}

.nested {
  display: none;
}

.active {
  display: block;
}